#menu {
    -fx-width: 100%;
    -fx-height: 100%;
    -fx-position: relative;
    -fx-overflow: hidden;
    -fx-background: #000;
    -fx-cursor: pointer;
    -fx-background-image: url("https://shorturl.at/mqBL6");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#continua {
    -fx-text-fill: #00ff00;
    -fx-opacity: 0.5;
}
